.switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 14px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  /* -webkit-transition: 0.4s;
  transition: 0.4s; */
}

.slider:before {
  position: absolute;
  content: "";
  height: 14px;
  width: 14px;
  left: 0px;
  bottom: 0px;
  background-color: white;
  /* -webkit-transition: 0.4s;
  transition: 0.4s; */
}

input:checked + .slider {
  background-color: #2ab934;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2ab934;
}

input:checked + .slider:before {
  -webkit-transform: translateX(16px);
  -ms-transform: translateX(16px);
  transform: translateX(16px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.hiden_title {
  display: block;
  width: 30px;
  height: 30px;
  font-size: 20px;
  text-align: center;
  color: #ccc;
  line-height: 30px;
  cursor: pointer;
  margin-left: 3px;
  background-image: url("../assets/arrowdown_2.png");
  background-repeat: no-repeat;
  background-position: -1px -1px;
}
